html {
  font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
}

.container{
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	font-size: 1.875em;
	margin-bottom: 0;
}

h2 {
	font-size: 1.1250em;
}

h3 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 1.3125em;
}

/*The widths are in a percentage!*/
header {
	text-align: center;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

header h1 {
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	border-bottom: 3px solid #77a466;
	width: 100%;

}

header h1 span {
	color: #77a466;
}

header nav {
	width: 100%;
	margin: 0 auto;
}

header nav ul {
	padding: 0;
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	list-style: none;
}

header nav ul li a {
	text-decoration: none;
	color:#77a466;
	line-height: 2em;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	display:flex;
	justify-content:center;
	align-items: center;
	flex-flow: row wrap;
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
	border-top: 3px solid #77a466;
}

.main-title h2 {
	text-align: center;
	padding: 5px 0;
	color: #77a466;
}

.main-title p {
	padding: 0 10px;
	font-size: 1em;
	line-height: 1.5625em;
	text-align: center;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	border-top: 1px solid #eee;
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-flow: row wrap;
}

.section-one h3 {
	padding-top: 0.5em;
	width:100%;
	text-align: center;
}

.section-one ul {
	padding: 0;
}

.section-one ul li {
	width: 100%;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.section-two p {
	margin: 10px 0;
	padding: 0px 15px;
}

.section-three h3 {
	width: 100%;
}

.section-three p {
	margin: 10px;
}

.menu {
	list-style: none;
	padding: 0;
}

.menu li {
	line-height: 3em;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.3125em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

/*The widths are in a percentage!*/
footer {
	border-top: 3px solid #eee;
	width: 100%;
	padding-top: 10px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .875em;
}

@media all and (min-width:768px) {
	.bottom-section{
	justify-content: space-around;
	align-items: flex-start;
	border-top: 1px solid #eee;
	}

	.section-one,
	.section-two,
	.section-three{
		border-top: none;
		flex-basis: 30%;
		text-align: center;
	}

	.section-one h3,
	.section-two h3,
	.section-three h3 {
		text-align: center;
	}

	.section-one p {
		padding: 15px;
	}

	.menu {
		margin-top: 20px;
		padding-top: 10px;
	}

	.menu li {
		line-height: 20px;
	}

	.section-two h3 {
		padding: 6px;
	}

	.section-two p {
		text-align: center;
	}

	.section-three h3 {
		padding: 6px;
	}

}

@media all and (min-width:1200px) {
	header {
		display: flex;
		flex-flow: row;
		text-align: left;
		width: 100%;
	}

	header h1 {
		border-bottom: none;
	}

	.main-image {
		padding-top: 25px;
	}

	header nav ul {
		display: flex;
		justify-content:space-between;
		flex-flow: row;
		margin: 0;
		padding-top: 20px;
	}

	.main-title h2 {
		text-align: left;
	}

	.main-title p {
		padding: 0;
		text-align: left;
	}

	.bottom-section{
		justify-content: flex-start;
	}

	.section-one,
	.section-two,
	.section-three{
		display: flex;
		justify-content: flex-start;
	}

	.section-one h3 {
		text-align: left;
	}

	.menu {
		text-align: left;
	}

	.section-two p {
		text-align: left;
	}

	.section-three {
		text-align: left;
		margin: 0;
	}

	.section-three h3 {
		text-align: left;
	}

}
